@import url("https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Moirai+One&display=swap");

.login-signup-conatiner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  background-color: #f7f5f2;
}

.text-container {
  background-color: #ff6d60;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 900px 0;
  box-shadow: 0 0 2px 2px #dfdfde;
}

.title {
  margin-bottom: 20px;
  font-family: "Cherry Bomb One", cursive;
  font-weight: 900;
  font-size: 50px;
}
.title > * {
  color: #222222;
  margin: 5px;
}
.login-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sub-title {
  color: #f8cb2e;
  font-family: "Moirai One", cursive;
  font-size: 20px;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  font-weight: 900;
}

.sub-title > * {
  animation: showup 2s infinite;
}
.sub-title-1 {
  width: 0px;
  animation: reveal 7s infinite;
}

.sub-title-1 span {
  animation: slidein 7s infinite;
}

.log-btn {
  margin: 5px;
}

@keyframes showup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slidein {
  0% {
    margin-left: -800px;
  }
  20% {
    margin-left: -800px;
  }
  35% {
    margin-left: 0px;
  }
  100% {
    margin-left: 0px;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    width: 0px;
  }
  20% {
    opacity: 1;
    width: 0px;
  }
  30% {
    width: 355px;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 355px;
  }
}

@media (max-width: 767px) {
  /* Adjust the layout for mobile devices */
  .login-signup-conatiner {
    display:flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f7f5f2;
  }

  .text-container {
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 2px 2px #dfdfde;
  }
  .title >*{
    text-align: center;
  }

  .sub-title >*{
    animation: none;
    text-align: center;
  }
  .sub-title-1{
    animation: none;
    text-align: center;
  }

  .sub-title-1 span{
    animation: none;
    text-align: center;
  }


  .sub-title {
    color: white;
    font-family: "Moirai One", cursive;
    font-size: 18px;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 900;
  }
}
