
.post-Card{
    position: relative;
    display: flex;
    flex-direction: column;
    /* border: 2px solid black; */
    margin: 1rem 1rem;
    padding: 0.5rem;  
    border-radius: 0.5rem;  
    box-shadow: 0 0 5px 2px lightgray;
}

.post-btns-container{
    display: flex;
    
}

.post-btns-container >*{
    margin-right:1rem
}

.media{
    border-radius: 0.5rem;
    width: 100%;
    height: 150px;
  }

  .post-user-detail{
    display: flex;
  }
  .post-user-detail > *{
    margin: 0.5rem;
  }


  .post-profile-image{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 2px solid black;
  }

  .post-card-menu{
    position: absolute;
    right: 0;
    margin-right: 0.5rem ;
  }

  .showBtn{
    cursor: pointer;
    border: none;
    background: none;
    font-weight: 400;

  }

  .options{
    background: whitesmoke;
    display: flex;
    flex-direction: column;
    padding: 0.2rem;
    outline: none;
    border-radius: 0.2rem;
  }

  .like-btn{
    background: none;
    border:none;
    cursor: pointer;
  }
  .like-btn:active{
    transform: scale(1.5);
  }