.post-Card {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem;
  padding: 0.5rem;
  background: rgba( 255, 255, 255, 0.15 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  border-radius: 1rem;
  padding: 1.5rem;
}

.post-btns-container {
  position: relative;
  display: flex;
}

.post-btns-container > * {
  margin-right: 1rem;
}

.media {
  border-radius: 0.5rem;
  width: 100%;
  height: 150px;
}

.post-user-detail {
  display: flex;
}
.post-user-detail > * {
  margin: 0.5rem;
}

.post-profile-image {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 2px solid black;
}

.post-card-menu {
  position: absolute;
  right: 0;
  margin-right: 0.5rem;
}

.showBtn {
  padding: 5px;
  width: 50px;
  cursor: pointer;
  border: none;
  background: none;
  font-weight: 400;
  
}

.options {
  background: whitesmoke;
  display: flex;
  flex-direction: column;
  padding: 0.2rem;
  outline: none;
  border-radius: 0.2rem;
}

.like-btn {
  background: none;
  border: none;
  cursor: pointer;
}
.like-btn:active {
  transform: scale(1.5);
}

.date-formate {
  position: absolute;
  right: 0;
  font-size: 0.7rem;
  font-weight: 600;
}

.filtered-container {
  height: 2rem;
  display: flex;
  justify-content: center;
}


.filter-btn {
  margin: 0 1rem;
  background: #f4ead5;
  border: none;
  border-radius: 0 1rem;
  padding: 0.2rem 0.7rem;
  font-weight: 600;
}

.filter-btn:hover {
  background-color: #fff6bd;
}

.post-card-link{
  text-decoration: none;
  color: black;
}

.bookmark-btn{
  background: none;
  border: none;
  cursor: pointer;
}

.bookmark-btn:active {
  transform: scale(1.5);
}

.textarea{
  padding: 5px;
  border: none;
  outline: none;
  background-color: inherit;
  width: 100%;
  height: 10vh;
}

.create-post-Card{
  cursor: pointer;
  background-color: lightgrey;
  border-radius: 5px;
  margin-top: 10px;

}

.create-post-Card button{
  margin: 5px;
  width: 60px;
  height: 20px;
  border: none;
  border-radius: 5px;
  background-color: cornflowerblue;
}

.edit:hover{

  color: cornflowerblue;
  background-color: #fff6bd;

}
.delete:hover{
  color: coral;
  background-color: #fff6bd;
}
